<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">KAK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <!-- TODO: update the hrefs -->
        <a class="nav-item nav-link" href="/">Description</a>
        <a class="nav-item nav-link" href="/">Menu</a>
        <a class="nav-item nav-link" href="/">About Us</a>
        <a class="nav-item nav-link" href="/">Location</a>
      </div>
      <!-- header will change depending if user is logged in -->

      <form class="form-inline" action="/logout" method="POST">

        <button type="submit" class="btn btn-outline-secondary">Log out</button>
      </form>

        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>

      </div>
    </div>
  </nav>
</header>
