

body {
  width:100%;
    background-image:url(https://images.unsplash.com/photo-1484659619207-9165d119dafe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
  background-size:cover;
}

.container {
  display: flex;
  flex-direction: left;
  max-width: 600px;
}

.box {
  display: flex;
  flex-direction: column;
}

.card-panel {
  padding-bottom: 0px;
}

#crab {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.credit-card-box {
  width: 500px;
  height: 280px;
  background: linear-gradient(135deg, #03A9F4, #1976D2);
  border-radius: 15px;
  color: black !important;
  z-index: 5000;
}

.input-field.cvv,
.input-field.number,
.input-field.card-holder,
.input-field.card-expiration-date {
  display: inline-block;
  color: white;
}

.input-field.cvv {
  top: -6px;
  margin-left: 6px !important;
}

.input-field label {
  color: #fff;
  left: 0rem;
}

.input-card-number {
  font-size: 30px !important;
  width: 70px !important;
  display: inline-block;
  margin-right: 5px !important;
}

.input-card-cvv {
  width: 30px !important;
  display: inline-block;
}

.card-holder {
  width: 150px !important;
  margin-right: 10px;
}

.card-expiration-date {
  display: inline !important;
}

.card-expiration-date .select-wrapper,
.card-expiration-date input {
  display: inline !important;
  width: 50px !important;
}

.card-expiration-date .select-wrapper {
  margin-right: 5px;
}

.card-expiration-date ul,
.card-expiration-date li span {
  width: 50px !important;
}

.logo img {
  position: relative;
  top: 0px;
  left: 290px;
  width: 60px;
}

.btn-large {
  margin: 10px 0%;
  /*   width: 100%; */
}

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/


.animation-element.slide-left.in-view {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

header nav.navbar.navbar-expand-lg {
background-color: rgb(29, 28, 28);
height: 80px;
font-size: 25px;
margin-bottom: 0;
color: white;
z-index: 5;
}

header#persistant a {
color: white;
}

header#persistant a.navitem {
font-family: 'Kreon', serif;
margin-left: 25px;
font-size: 25px;
font-weight: bold;
}
header#persistant div {
justify-content: space-between;
width: 100%;
display: flex;
max-height: 55px;
align-content: center;
}

header#persistant div span {
/* width: 125px; */
padding: 10px;
margin-left: auto;
flex: 1;
text-align: right;
color: rgb(233, 92, 92);
font-size: 20px;
}

header#persistant div a:hover {
color: white;
text-shadow: none;
text-decoration: none;
}

header#persistant div a.navitem:hover {
background: #bd5109;
}

header#persistant h1 {
content: '';
/* width: 145px; */
margin-right: auto;
flex: 1;

font-weight: 100;
font-family: 'Lobster', 'Kreon', 'Serif';
font-size: 40px;
text-align: left;
right: 50px;
color: white;
text-shadow:
   3px 3px 0 black,
 -1px -1px 0 black,
   1px -1px 0 black,
   -1px 1px 0 black,
   1px 1px 0 black;
}

header#persistant img {
width: 245px;
height: 185px;
top: -43px;
position: relative;

}

header a.logo {
flex: 1;
text-align: center;
}

header#persistant div span a.logged {
  color: rgb(233, 92, 92);
}
