* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4efeb;
  font-family:'Kreon',serif;
}

#bg {
  background-image: url('/images/ting-tian-_79ZJS8pV70-unsplash2.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  background-size: cover;
  height: 250px;
  max-width: 1152px;
}

#logo {
  max-width: 100%;
}

.sec-title {
  font-family:'Kreon',serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #321602;
}

.dish-name {
  font-weight: 600;
  font-variant: small-caps;
  font-size: 1.4rem;
}

.dish-desc {
  font-size: 1.0rem;
}

.price {
  text-align: left;
}

.add {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
}

/* plus minus quantity feature */

.table td.price {
  padding-right: 30px;
  padding-top: 15px;
  font-size: 1.05rem;
}

.add input::-webkit-inner-spin-button, .add input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.table .add {
  padding-top: 15px;
}

.add .quantity {
  width: 2rem;
  background: none;
  outline: none;
  border: 0;
  text-align: center;
  font-size: 1.05rem;
}

.add .increment {
  color: black;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.add span {
  text-align: center;
  width: 3rem;
  visibility: hidden;
  padding-right: 2px;
}

img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* Side bar */

#menu {
  position: fixed;
  background: #f4efeb;
  width: 400px;
  max-width: 90%;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translate(500px, 0);
  transition: transform 250ms ease-in-out;
  z-index: 20;
}

#menu.open {
  transform: translate(0, 0);
}

#menu .container {
  display: flex;
}

#menu header {
  font-family:'Kreon',serif;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 5em;
  padding: 0 20px;
}

#menu header h2 {
  margin: 0;
}

#menu header a {
  color: rgb(220, 53, 69);
  font-family:'Kreon',serif;
  font-variant: small-caps;
  font-size: 1.5rem;
}
#menu header a:hover {
  text-decoration: none;
}

#menu section#order-container {
  margin: 10px 20px 0px 20px;
}

#menu article {
  align-items: center;
  /* font-variant: small-caps; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

#menu article h3 {
  margin: 0;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
}

#menu article p {
  margin: 0;
  padding-right: 10px;
}

#menu section.total {
  margin: 0px 20px;
}

#menu div.container {
  border-top: 1px solid black;
  justify-content: space-between;
  padding-right: 25px;
  padding-top: 0.75em;
  align-items: center;
}

#menu .total p {
  margin: 0;
  font-weight: bold;
}

#menu .total h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#menu footer {
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  background: white;
  color: white;
  height: 5em;
  align-items: center;
  background: white;
  z-index: 2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  font-variant: small-caps;
}

#menu footer a {
  font-size: 1.5rem;
}
/* overlay when cart opens */

.lightbox {
  position: fixed;
  background: black;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 250ms ease-in-out, width 0ms ease-in-out 250ms;
}

body.open .lightbox {
  width: 100%;
  opacity: 0.8;
  transition: opacity 250ms ease-in-out, width 0ms ease-in-out;
}

/* nav bar */

html {
	scroll-behavior: smooth;
}

header nav.navbar.navbar-expand-lg {
  background-color: rgb(29, 28, 28);
  height: 55px;
  font-size: 25px;
  margin-bottom: 0;
  color: white;
  z-index: 5;
}

header#persistant a {
  color: white;
}

header#persistant a.navitem {
  font-family: 'Kreon', serif;
  margin-left: 25px;
  font-size: 25px;
  font-weight: bold;
}
header#persistant div {
  justify-content: space-between;
  width: 100%;
  display: flex;
  max-height: 55px;
  align-content: center;
}

header#persistant div span {
  /* width: 125px; */
  padding: 10px;
  margin-left: auto;
  flex: 1;
  text-align: right;
  color: rgb(233, 92, 92);
  font-size: 20px;
}

header#persistant div a:hover {
  color: white;
  text-shadow: none;
  text-decoration: none;
}

header#persistant div a.navitem:hover {
  background: #bd5109;
}

header#persistant h1 {
  content: '';
  /* width: 145px; */
  margin-right: auto;
  flex: 1;

  font-weight: 100;
  font-family: 'Lobster', 'Kreon', 'Serif';
  font-size: 40px;
  text-align: left;
  right: 50px;
  color: white;
  text-shadow:
      3px 3px 0 black,
    -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

header#persistant img {
  width: 245px;
  height: 185px;
  top: -43px;
  position: relative;

}

header a.logo {
  flex: 1;
  text-align: center;
}
